@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");
/* Mobile first approch */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #eee;
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
}

.container {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.advertisement {
  display: none;
}

/* Top Bar */
.top-bar {
  background-color: #333;
  padding: 4px 15px;
  font-size: 14px;
}
.top-bar .top-bar-info ul {
  flex-direction: column;
}
.top-bar .top-bar-info ul li {
  margin: 2px 0;
}
.top-bar .top-bar-social-links ul {
  flex-direction: column;
}
.top-bar .top-bar-social-links ul li {
  margin: 2px 0;
}
.top-bar .top-bar-social-links ul li a {
  color: white;
  text-decoration: none;
}

/* Nav Menus */
.bg-custom {
  background-color: #333;
}

.logo h4 {
  font-weight: 700;
}

.logo span {
  color: red;
}

/* Home Banner */
.home_banner {
  position: relative;
}
.home_banner .banner_box {
  position: relative;
}
.home_banner .banner_box .banner_mask {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.home_banner .banner_box .banner_mask .banner_heading {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  margin-bottom: 10px;
}
.home_banner .banner_box .banner_mask .banner_heading a {
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration: none;
}
.home_banner .banner_box .banner_mask .timestamp_comments {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 6px;
}

.category {
  margin: 10px 0;
}
.category a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

/* News Contents */
.heading a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.short_desc span a {
  color: #333;
  font-weight: 700;
}

.editor_choice,
.updates {
  margin: 15px 0;
}

.title {
  background-color: #333;
  color: white;
  text-transform: capitalize;
  padding: 8px 15px;
}
.title h5 {
  font-weight: 700;
}

.news_list a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.list-group {
  margin-bottom: 10px;
}

.list-group-item {
  padding: 20px 15px;
}

.publish_duration {
  margin-top: 10px;
}

/* Subscription Form */
.subscription_form form {
  border: 2px solid #f1f1f1;
  padding: 10px;
  margin: 20px 0;
}

input[type=text],
input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #333;
  color: white;
  border: none;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 15px;
}
.footer ul {
  padding: 8px 0;
}
.footer ul li a {
  color: white;
}
.footer ul h6 {
  font-weight: 700;
  margin: 4px 0;
}
.footer .copyright {
  border-top: 1px dotted white;
}
.footer .copyright p {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}

/* iPads, Tablets screens */
@media (min-width: 481px) and (max-width: 768px) {
  .top-bar-info ul {
    flex-direction: row !important;
  }
  .top-bar-info ul li {
    margin-right: 20px !important;
  }

  .top-bar-social-links ul {
    flex-direction: row !important;
    justify-content: flex-end !important;
  }
  .top-bar-social-links ul li {
    margin-left: 20px !important;
  }

  .advertisement {
    display: none;
  }
}
/* above tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .top-bar-info ul {
    flex-direction: row !important;
  }
  .top-bar-info ul li {
    margin-right: 20px !important;
  }

  .top-bar-social-links ul {
    flex-direction: row !important;
    justify-content: flex-end !important;
  }
  .top-bar-social-links ul li {
    margin-left: 20px !important;
  }

  .advertisement {
    display: none;
  }
}
/* laptops, desktop, large screens */
@media (min-width: 1025px) {
  .top-bar-info ul {
    flex-direction: row !important;
  }
  .top-bar-info ul li {
    margin-right: 20px !important;
  }

  .top-bar-social-links ul {
    flex-direction: row !important;
    justify-content: flex-end !important;
  }
  .top-bar-social-links ul li {
    margin-left: 20px !important;
  }

  .advertisement {
    display: block;
    margin: 20px 0;
  }

  .politics_section,
.business_section,
.lifestyle_section,
.entertainment_section {
    padding-right: 15px;
  }

  .footer ul {
    display: flex;
  }
  .footer .quick_links ul li {
    margin-right: 20px;
  }
  .footer .quick_links ul li a:nth-child(odd) {
    border-right: 1px dotted white;
    padding-right: 8px;
  }
  .footer .find_us {
    text-align: right;
  }
  .footer .social_links {
    display: flex;
    justify-content: flex-end;
  }
  .footer .social_links li {
    margin-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
