/* Mobile first approch */

@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

$primary-color: #333;

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #eee;
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
}

.container {
    background-color: white;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@mixin categoryMargin {
    margin: 10px 0;
}

@mixin categoryLink {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

@mixin bannerHeading {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    margin-bottom: 10px;
}

@mixin bannerLink {
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
}

@mixin timestamp {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 6px;
}

@mixin newsHeadingLink {
    color: $primary-color;
    font-weight: 700;
    text-decoration: none;
}

@mixin readMore {
    color: $primary-color;
    font-weight: 700;
}

@mixin asideTitle {
    background-color: $primary-color;
    color: white;
    text-transform: capitalize;
    padding: 8px 15px;
}

@mixin newsListLink {
    color: $primary-color;
    font-weight: 700;
    text-decoration: none;
}

@mixin subscriptionForm {
    border: 2px solid #f1f1f1;
    padding: 10px;
    margin: 20px 0;
}

@mixin formType {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@mixin formTypeSubmit {
    background-color: $primary-color;
    color: white;
    border: none;
}

@mixin footer {
    background-color: #333;
    color: white;
    padding: 15px;
}

.advertisement {
    display: none;
}