/* Footer */
.footer {
    @include footer;

    ul {
        padding: 8px 0;

        li {
            a {
                color: white;
            }
        }

        h6 {
            font-weight: 700;
            margin: 4px 0;
        }
    }

    .copyright {
        border-top: 1px dotted white;

        p {
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}