/* Home Banner */
.home_banner {
    position: relative;

    .banner_box {
        position: relative;

        .banner_mask {
            position: absolute;
            bottom: 15px;
            left: 15px;

            .banner_heading {
                @include bannerHeading;

                a {
                    @include bannerLink;
                }
            }

            .timestamp_comments {
                @include timestamp;
            }
        }
    }
}

.category {
    @include categoryMargin;

    a {
        @include categoryLink;
    }
}