/* News Contents */
.heading a {
    @include newsHeadingLink;
}

.short_desc span a {
    @include readMore;
}

.editor_choice,
.updates {
    margin: 15px 0;
}

.title {
    @include asideTitle;

    h5 {
        font-weight: 700;
    }
}

.news_list a {
    @include newsListLink;
}

.list-group {
    margin-bottom: 10px;
}

.list-group-item {
    padding: 20px 15px;
}

.publish_duration {
    margin-top: 10px;
}