/* iPads, Tablets screens */
@media(min-width: 481px) and (max-width: 768px) {
    .top-bar-info {
        ul {
            flex-direction: row !important;

            li {
                margin-right: 20px !important;
            }
        }
    }

    .top-bar-social-links {
        ul {
            flex-direction: row !important;
            justify-content: flex-end !important;

            li {
                margin-left: 20px !important;
            }
        }
    }

    .advertisement {
        display: none;
    }
}

/* above tablets */
@media(min-width: 769px) and (max-width: 1024px) {
    .top-bar-info {
        ul {
            flex-direction: row !important;

            li {
                margin-right: 20px !important;
            }
        }
    }

    .top-bar-social-links {
        ul {
            flex-direction: row !important;
            justify-content: flex-end !important;

            li {
                margin-left: 20px !important;
            }
        }
    }

    .advertisement {
        display: none;
    }
}

/* laptops, desktop, large screens */
@media(min-width: 1025px) {
    .top-bar-info {
        ul {
            flex-direction: row !important;

            li {
                margin-right: 20px !important;
            }
        }
    }

    .top-bar-social-links {
        ul {
            flex-direction: row !important;
            justify-content: flex-end !important;

            li {
                margin-left: 20px !important;
            }
        }
    }

    .advertisement {
        display: block;
        margin: 20px 0;
    }

    .politics_section,
    .business_section,
    .lifestyle_section,
    .entertainment_section {
        padding-right: 15px;
    }

    .footer {
        ul {
            display: flex;
        }

        .quick_links {
            ul {
                li {
                    margin-right: 20px;

                    a:nth-child(odd) {
                        border-right: 1px dotted white;
                        padding-right: 8px;
                    }
                }

            }
        }

        .find_us {
            text-align: right;
        }

        .social_links {
            display: flex;
            justify-content: flex-end;

            li {
                margin-left: 20px;
            }
        }
    }
}