/* Subscription Form */
.subscription_form form {
    @include subscriptionForm;
}

input[type=text],
input[type=submit] {
    @include formType;
}

input[type=submit] {
    @include formTypeSubmit;
}