/* Top Bar */
.top-bar {
    background-color: $primary-color;
    padding: 4px 15px;
    font-size: 14px;

    .top-bar-info {
        ul {
            flex-direction: column;

            li {
                margin: 2px 0;
            }
        }
    }

    .top-bar-social-links {
        ul {
            flex-direction: column;

            li {
                margin: 2px 0;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}